<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="CLR">
            {FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue}
        </Property>
        <Property name="LOG_PATTERN"
                  value="%highlight{${LOG_LEVEL_PATTERN:-%5p}}${CLR}|%d{MMdd-HHmmss SSS}|%t|%style{%c{1}}{cyan}|%m%n"/>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="com.dercio.database_proxy" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>

</Configuration>